@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
/*
    Media queries mixins 

    Will in the future change the syntax in the range with a less obsolete version
    ex: @media screen and ( map-get($breakpoints, mobile) <= width <=  map-get($breakpoints, tablet) ){...}

    We can also go a little further by adding custom media queries

    ex: 
        @custom-media --tablet-range (768px <= width <= 992px);

        @mixin desktop-only {
            @media --tablet-range {
                @content;
            }
        }

*/
.active {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  color: var(--header-sidebar-color);
}

@keyframes blink {
  from {
    opacity: 80%;
  }
  to {
    opacity: 20%;
  }
}
@keyframes hammering {
  from {
    rotate: 45deg;
  }
  to {
    rotate: -80deg;
  }
}
@keyframes blink {
  from {
    opacity: 80%;
  }
  to {
    opacity: 20%;
  }
}
@keyframes hammering {
  from {
    rotate: 45deg;
  }
  to {
    rotate: -80deg;
  }
}
/*
    Media queries mixins 

    Will in the future change the syntax in the range with a less obsolete version
    ex: @media screen and ( map-get($breakpoints, mobile) <= width <=  map-get($breakpoints, tablet) ){...}

    We can also go a little further by adding custom media queries

    ex: 
        @custom-media --tablet-range (768px <= width <= 992px);

        @mixin desktop-only {
            @media --tablet-range {
                @content;
            }
        }

*/
:root {
  --lighter: #fafce9;
  --light: #f3f8cf;
  --middle: #D4E571;
  --dark: #708618;
  --darker: #414d1a;
  --cod-gray: #0a0a0a;
}

/************ MINI RESET ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  background: var(--light);
  font-family: "Playfair Display", serif;
  color: var(--cod-gray);
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}

text {
  font-family: "Roboto", sans-serif;
}

tspan {
  font-size: 12px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* ERROR PAGE */
.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.errorPage .errorPage__text {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--dark);
}

.create-employee {
  width: 100%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  color: var(--dark);
  font-size: 1.2rem;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1F2937;
  opacity: 0.5;
}

.modal-container {
  background: var(--lighter);
  width: 91.666667%;
  max-width: 28rem;
  margin: 0 auto;
  border-radius: 0.375rem;
  z-index: 50;
  overflow-y: auto;
}

.modal-content {
  padding: 1rem;
  text-align: left;
}

.content {
  margin: 1.25rem 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.close-button {
  outline: none;
  padding: 0.75rem 1rem;
  background: var(--darker);
  border: none;
  border-radius: 0.5rem;
  color: var(--light);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.close-button:hover {
  background: var(--dark);
  box-shadow: rgba(126, 146, 47, 0.9) 0 0 22px 6px;
}

.background.blur {
  filter: blur(2px);
}

.FormEmployee {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding: 2% 5% 3% 5%;
  border-radius: 0.5rem;
  box-shadow: rgba(154, 165, 149, 0.2) 0px 8px 24px;
  background: var(--lighter);
}
.FormEmployee .form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}
.FormEmployee .form-header h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  color: var(--darker);
  font-size: 1.5rem;
}
.FormEmployee label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.FormEmployee fieldset {
  border: none;
  background-color: #F3F8CF;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(154, 165, 149, 0.2) 0px 8px 24px;
}
.FormEmployee .form-group.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.FormEmployee .form-group.input input {
  border: none;
  line-height: 2rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  color: var(--darker);
  font-size: 1rem;
}
.FormEmployee .form-group .react-datepicker-wrapper {
  width: 100%;
}
.FormEmployee .form-group.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.FormEmployee .btn-form {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background: var(--darker);
  color: var(--light);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.FormEmployee .btn-form:hover {
  background: var(--dark);
  box-shadow: rgba(126, 146, 47, 0.9) 0 0 22px 6px;
}

table thead,
table tfoot {
  background-color: #a1bb27 !important;
  --bs-table-bg: #b8c47e !important;
}

/* Tooltip container */
/* Tooltip text */
/* Show the tooltip text when you mouse over the tooltip container */
header {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 10px -15px var(--darker);
}
header .menu {
  position: relative;
  display: inline-block;
}
header .menu .menutext {
  visibility: hidden;
  width: 120px;
  background-color: var(--dark);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  right: 115%;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}
header .menu .menutext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--dark);
}
header .menu:hover .menutext {
  visibility: visible;
  opacity: 1;
}
header .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .brand .brand-text {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--dark);
  margin-left: 0.7rem;
  margin-bottom: 0.3rem;
}
header .brand .brand-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
  margin-left: 1rem;
}
header .employee-list--ico,
header .add-employee--ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  margin: 0 auto;
}
header .nav-links {
  margin-right: 1rem;
}/*# sourceMappingURL=main.css.map */